#contents {
  margin: 90px;
  margin-top: 40px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 400px 1fr;
  gap: 75px;
}

#contents h2 {
  font-size: 1.5rem;
}

#interests {
  margin-bottom: 75px;
}


#projects h2 {
  font-size: 2.2rem;
  margin-bottom: 28px;
}

#projects h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

#projects p {
  font-size: 1.1rem;
}

.project-content {
  padding: 16px;
  background-color: var(--g2);
}

.technologies {
  color: var(--p4);
  opacity: 0.4;
  font-weight: 600;
}

.technologies i {
  font-weight: 400;
}

.know-more {
  display: inline-block;
  background-color: var(--g2);
  color: var(--g4);
  font-size: 0.8rem !important;
  padding: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}
