#contents {
  margin: 90px;
  margin-top: 40px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 400px 1fr;
  gap: 75px;
}

#info ul {
  background-color: light-dark(var(--background-color), var(--a1-7));
  border: solid 1px var(--border-color);
}

#contents h2 {
  font-size: 1.5rem;
}

#interests {
  margin-bottom: 75px;
}

#projects {
  display: grid;
  gap: 28px;
}

#projects h2 {
  font-size: 2.2rem;
}

#projects h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

#projects p {
  font-size: 1.1rem;
}

.project-content {
  padding: 16px;
  background-color: var(--project-content-background-color);
  border: solid 1px var(--border-color);
}

.technologies {
  color: var(--project-technologies-background-color);
  opacity: 0.4;
  font-weight: 600;
}

.technologies i {
  font-weight: 400;
}

.know-more {
  display: inline-block;
  background-color: var(--know-more-background-color);
  color: var(--know-more-color);
  font-size: 0.8rem !important;
  padding: 4px;
  margin-top: 6px;
  align-items: center;
}

.know-more::before {
  display: inline-block;
  content: '';
  background-image: url('/img/link.svg');
  background-repeat: no-repeat;
  background-size: 8px;
  width: 8px;
  height: 8px;
  padding-left: 6px;
}

@media (prefers-color-scheme: dark) {
  .know-more::before {
    background-image: url('/img/link-dm.svg');
  }
}

@media (max-width: 1400px) {
  #contents {
    gap: 35px;
  }
}

@media (max-width: 1300px) {
  #contents {
    display: flex;
  }

  #contents h2 {
    font-size: 1.2rem;
  }

  #interests {
    margin-top: 72px;
  }

  ul {
    margin: 12px 0;
    padding: 2px;
    padding-left: 32px;
    font-size: 1rem;
  }

  #projects h2 {
    font-size: 1.8rem;
  }

  #projects p {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  #contents {
    margin: 30px;
  }
}

@media (max-width: 600px) {
  #contents {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
  }

  #contents h2 {
    font-size: 1.1rem;
  }

  #interests {
    margin: 0;
  }

  ul {
    font-size: 0.8rem;
  }

  li {
    margin: 6px;
  }

  #projects h2 {
    font-size: 1.5rem;
  }

  #projects h3 {
    font-size: 1.2rem;
  }

  #projects p {
    font-size: 1rem;
  }

  #info {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 500px) {
  #projects p {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  #info {
    gap: 10px;
    align-items: end;
  }
}

@media (max-width: 300px) {
  #contents {
    margin: 10px;
  }

  #info {
    gap: 0;
  }
}

@media (max-width: 600px) {
  #info ul {
    background-color: light-dark(var(--a1-2), var(--a1-7));
    border: solid 1px var(--border-color);
  }
}
